absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1733730548347/work
accessible-pygments @ file:///home/conda/feedstock_root/build_artifacts/accessible-pygments_1734956106558/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1739175731979/work
aiohttp @ file:///D:/bld/aiohttp_1738823086609/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
alabaster @ file:///home/conda/feedstock_root/build_artifacts/alabaster_1704848697227/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1725356700772/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1738490167835/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1738740337718/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1737382993/work
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1734344358292/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///D:/bld/cffi_1725560718594/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///D:/bld/click_1734858834134/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colour @ file:///home/conda/feedstock_root/build_artifacts/colour_1733900183428/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy @ file:///D:/bld/contourpy_1731428315575/work
cryptography @ file:///D:/bld/cryptography-split_1739298969498/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///D:/bld/debugpy_1737269745117/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
docutils @ file:///D:/bld/docutils_1734010942066/work
earthengine-api @ file:///home/conda/feedstock_root/build_artifacts/earthengine-api_1739986209280/work
ee-extra @ file:///home/conda/feedstock_root/build_artifacts/ee_extra_1674469223555/work
eerepr @ file:///home/conda/feedstock_root/build_artifacts/eerepr_1740005411905/work
etils @ file:///home/conda/feedstock_root/build_artifacts/etils_1739065381879/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1736247869287/work
fonttools @ file:///D:/bld/fonttools_1738940289502/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozenlist @ file:///D:/bld/frozenlist_1737645275191/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1734276819611/work
geeadd @ file:///home/conda/feedstock_root/build_artifacts/geeadd_1662343341358/work
geocoder @ file:///home/conda/feedstock_root/build_artifacts/geocoder_1734684552374/work
geojson @ file:///home/conda/feedstock_root/build_artifacts/geojson_1734884856640/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1734346029138/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1738074925588/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1739481820249/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1737618250101/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1733907410727/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1740171062152/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1738249630680/work
google-crc32c @ file:///D:/bld/google-crc32c_1726579624188/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1733728468631/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1740136009111/work
greenlet @ file:///D:/bld/greenlet_1734532785123/work
grpcio @ file:///D:/bld/grpc-split_1735629266486/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1733927481809/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
ipyevents @ file:///home/conda/feedstock_root/build_artifacts/ipyevents_1734305085589/work
ipyfilechooser @ file:///home/conda/feedstock_root/build_artifacts/ipyfilechooser_1631745918830/work
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipyleaflet @ file:///home/conda/feedstock_root/build_artifacts/ipyleaflet-packages_1734340764810/work/ipyleaflet
ipython @ file:///D:/bld/bld/rattler-build_ipython_1738421304/work
ipytree @ file:///home/conda/feedstock_root/build_artifacts/ipytree_1734505728227/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1733493556527/work
isodate @ file:///home/conda/feedstock_root/build_artifacts/isodate_1733230734792/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1733272076743/work
jsonpath-rw @ file:///home/conda/feedstock_root/build_artifacts/jsonpath-rw_1735457605147/work
jsonpointer @ file:///D:/bld/jsonpointer_1725302958631/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter-book @ file:///home/conda/feedstock_root/build_artifacts/jupyter-book_1735574079789/work
jupyter-cache @ file:///home/conda/feedstock_root/build_artifacts/jupyter-cache_1731777098974/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1738765986/work
jupyter-leaflet @ file:///home/conda/feedstock_root/build_artifacts/ipyleaflet-packages_1734340764810/work/jupyter_leaflet
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1733492907176/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1734702637701/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1738184697351/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1733428046021/work
kagglehub @ file:///home/conda/feedstock_root/build_artifacts/kagglehub_1739488418739/work
kiwisolver @ file:///D:/bld/kiwisolver_1725459380935/work
latexcodec @ file:///home/conda/feedstock_root/build_artifacts/latexcodec_1592937263153/work
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1733781180837/work
logzero @ file:///D:/bld/logzero_1725358062774/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1733731066416/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219622495/work
matplotlib==3.10.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1733854715505/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1738085174704/work
mlcroissant @ file:///home/conda/feedstock_root/build_artifacts/mlcroissant_1737974662124/work
multidict @ file:///D:/bld/multidict_1729065611985/work
munkres==1.1.4
myst-nb @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_myst-nb_1739024493/work
myst-parser @ file:///home/conda/feedstock_root/build_artifacts/myst-parser_1686686235198/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1739851660861/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1738067871/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1734789425270/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numpy @ file:///D:/bld/numpy_1739425584338/work/dist/numpy-2.2.3-cp313-cp313-win_amd64.whl#sha256=d33e937ed2249dc8903e4afd8898b785eee9cde7e2f517ff584cbd7390f83579
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///D:/bld/pandas_1726878597308/work
pandas-stubs @ file:///home/conda/feedstock_root/build_artifacts/pandas-stubs_1734441851674/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///D:/bld/pillow_1735929727881/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1738287743623/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache @ file:///D:/bld/propcache_1737635537370/work
proto-plus @ file:///home/conda/feedstock_root/build_artifacts/proto-plus_1738061909745/work
protobuf @ file:///D:/bld/protobuf_1731365460529/work/bazel-bin/python/dist/protobuf-5.28.3-cp313-abi3-win_amd64.whl#sha256=1c79958eeaefb735a8c444a438ffe4ddf4b94f2a1165ebeaff19c84448b888ab
psutil @ file:///D:/bld/psutil_1735327348298/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1733324602540/work
pybtex @ file:///home/conda/feedstock_root/build_artifacts/pybtex_1733928100679/work
pybtex-docutils @ file:///D:/bld/pybtex-docutils_1725691809285/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
PyCRS @ file:///home/conda/feedstock_root/build_artifacts/pycrs_1734603046681/work
pydata-sphinx-theme==0.16.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyogrio @ file:///D:/bld/pyogrio_1732013363727/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1737243356468/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyperclip @ file:///D:/bld/pyperclip_1733932668714/work
pyproj @ file:///D:/bld/pyproj_1739711639586/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1733821528126/work
PySide6==6.8.2
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-box @ file:///D:/bld/python-box_1737128912564/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
pywin32==307
pywinpty @ file:///D:/bld/pywinpty_1738660395189/work/target/wheels/pywinpty-2.0.15-cp313-none-win_amd64.whl#sha256=59c623a380f0b25df18194ccc606e4df2cdd7ec179c58420f25cfac9f616888d
PyYAML @ file:///D:/bld/pyyaml_1737454674198/work
pyzmq @ file:///D:/bld/pyzmq_1738270971724/work
ratelim @ file:///home/conda/feedstock_root/build_artifacts/ratelim_1734637796064/work
rdflib @ file:///home/conda/feedstock_root/build_artifacts/rdflib_1737295990862/work/dist
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rpds-py @ file:///D:/bld/rpds-py_1733366642553/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1733662684165/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1736248032384/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1728724560758/work
sankee @ file:///home/conda/feedstock_root/build_artifacts/sankee_1734811052243/work
scikit-learn @ file:///D:/bld/scikit-learn_1736496760019/work/dist/scikit_learn-1.6.1-cp313-cp313-win_amd64.whl#sha256=5840b0a8e474fa5b609d62199da38a78acb67fa1f3a7164e8c54af5d7214135b
scipy @ file:///C:/bld/scipy-split_1739790791396/work/dist/scipy-1.15.2-cp313-cp313-win_amd64.whl#sha256=7881621bfd838a21b8396c8b48e95879e329eabe3e8bfb6aa94a3132a6eb6347
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1734299019922/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
Send2Trash @ file:///D:/bld/send2trash_1733322089150/work
setuptools==75.8.0
shapely @ file:///D:/bld/shapely_1738307914536/work
shiboken6==6.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1713554891974/work
sphinx-book-theme==1.1.3
sphinx-comments @ file:///home/conda/feedstock_root/build_artifacts/sphinx-comments_1736272962020/work
sphinx-copybutton @ file:///home/conda/feedstock_root/build_artifacts/sphinx-copybutton_1734572975006/work
sphinx-jupyterbook-latex @ file:///home/conda/feedstock_root/build_artifacts/sphinx-jupyterbook-latex_1735227069492/work
sphinx-multitoc-numbering @ file:///home/conda/feedstock_root/build_artifacts/sphinx-multitoc-numbering_1735141913268/work
sphinx-thebe @ file:///home/conda/feedstock_root/build_artifacts/sphinx-thebe_1734702462891/work
sphinx-togglebutton @ file:///home/conda/feedstock_root/build_artifacts/sphinx-togglebutton_1664390183601/work
sphinx_design @ file:///home/conda/feedstock_root/build_artifacts/sphinx-design_1734614570224/work
sphinx_external_toc @ file:///home/conda/feedstock_root/build_artifacts/sphinx-external-toc_1735253403099/work
sphinxcontrib-applehelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-applehelp_1733754101641/work
sphinxcontrib-bibtex @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-bibtex_1661629118308/work
sphinxcontrib-devhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-devhelp_1733754113405/work
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1733754280555/work
sphinxcontrib-jsmath @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-jsmath_1733753744933/work
sphinxcontrib-qthelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-qthelp_1733753408017/work
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1733750479108/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1738913141885/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///D:/bld/statsmodels_1727986823401/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
terminado @ file:///D:/bld/terminado_1710262761616/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tornado @ file:///D:/bld/tornado_1732615920207/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
traittypes @ file:///home/conda/feedstock_root/build_artifacts/traittypes_1600843364635/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733612335562/work
types-pytz @ file:///home/conda/feedstock_root/build_artifacts/types-pytz_1738736237893/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1733784165198/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1733927878495/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
whitebox @ file:///home/conda/feedstock_root/build_artifacts/whitebox_1735293920238/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1733128559935/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1737234886776/work
yarl @ file:///D:/bld/yarl_1737575814760/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
